---
layout: default
---
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- shs galeria 250x250, criado 27/08/09 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-9548183408479056"
     data-ad-slot="9649099246"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<h1 class="title">{{ page.title }}</h1>
{{ content }}
<p class="meta">{{ page.date | date_to_string }}</p>
